body {
  background-image: url(../images/homework-3.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

.wrapper {
  padding: 20px;
  background-color: #ffffff;
  vertical-align: top;
  margin-bottom: 300px;
  width: 850px;
}

header {
  padding-bottom: 20px;
  padding-top: 20px;
}

h1 {
  height: 150px;
  width: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 150px;
  text-align: center;
  font-family: 'Dorsa', sans-serif;
  font-size: 60px;
  color: #263555;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  width: 700px;
  margin: 0 auto;
}

.submenu {
  display: none;
}

ol.submenu {
  width: 46px;
  z-index: 10;
  padding: 4px 2px;
  background: #f2f2f3;
  border-radius: 2px;
  position: absolute;
  left: 13px;
  top: 30px;
}

li.submenu a {
  color: #6b7488;
  font-size: 15px;
}

ol.submenu::before {
 content: "";
 top: -5px;
 left: 20px;
 position: absolute;
 border-style: solid;
 border-width: 0 4px 6px 4px;
 border-color: transparent transparent #f2f2f3 transparent;
}

.menu-items:hover .submenu {
  display: block;
}

img {
  width: 200px;
}

.circle {
  width: 100%;
  padding-bottom: 10px;
  list-style-type: none;
}

.menu-items {
  width: 33%;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  list-style-type: none;
}

.menu-items a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 25px;
}

.menu-items a:hover {
  color: #263555;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #263555;
  margin-left: 50px;
  font-size: 25px;
  letter-spacing: 1px;
}

.img {
  background-image: url(../images/slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px;
  height: 480px;
  width: 750px;
  position: relative;
}

.slider {
  position: absolute;
  text-align: center;
  line-height: 65px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  bottom: 20px;
  left: 20px;
  background: #38afe5;
}

.slider:before {
  content: '\2190  \2192';
  color: white;
}


.text {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #1F618D;
  font-size: 15px;
  font-weight: 200;
  padding: 12px;
  margin-top: 0px;
}

.side {
  position: absolute;
  width: 170px;
  height: 40px;
  top: 150px;
  border: 1px solid #F2F3F4;
  background: white;
}

.text2 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #FDFEFE;
  font-size: 23px;
  padding: 0 10px 0 10px;
  text-align: center;
  margin-top: 7px;
}

.side2 {
  position: absolute;
  width: 190px;
  height: 40px;
  top: 192px;
  border: 1px solid #38afe5;
  background: #38afe5;
}


h6 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #eaebec;
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.ven {
	width: 230px;
	height: 200px;
	background: url(../images/venice.jpg)  100% 100%;
	font-family: 'Pathway Gothic One', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.ny {
	width: 230px;
	height: 200px;
  background: url(../images/new-york.png) 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Pathway Gothic One', sans-serif;
	margin-left: 20px;
	margin-right: 20px;


}

.par {
	width: 230px;
	height: 200px;
	background: url(../images/paris.png) 100% 100%;
	font-family: 'Pathway Gothic One', sans-serif;
	background-size: cover;
	background-repeat: no-repeat;

}

.city {
  font-size: 12px;
  font-weight: normal;
  color: #cbc6c6;
}

.country {
  display: inline-block;
}

button {
	margin-left: 50px;
}

.button {
	margin-left: 50px;
}

.background {
	width: 50%;
	background-color: #193149;
	display: none;
	height: 100%;
	padding-left: 7px;
}

.country:hover .background {
  display: inline-block;
}

.circ-bot {
  margin-top: 60px;
  margin-left: 830px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #38afe5;
  bottom: 70px;
  right: 570px;
  display: block;
}

.circ-bot img {
	margin-left: 10px;
	margin-top: 10px;
  height: 7px;
  width: 10px;
}